@use '../../../plugins/sim-base/includes/css/scss/global' as *;

#account-statements, #account-statements th, #account-statements td{
	border: none;
}

/* Mobile settings*/
@media screen and (max-width: 800px){	
	.account-statements td::before{
		min-width: unset;
	}
}

.account-statements .statement-button{
	margin-right: 10px; 
	padding: 0px 10px;
}
